body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ===== navbar-nav ===== */

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 8px 40px;
}

/* ===== header left ===== */

.navbar-left__side {
  display: flex;
  align-items: center;
}

.navbar-left__search {
  padding: 10px 12px;
  background: #edeef2;
  border-radius: 12px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 48px;
}

.navbar-left__search input {
  outline: none;
  border: none;
  background: transparent;
}

.navbar-left__search input::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* ===== navbar right ===== */

.navbar-right__side {
  display: flex;
  align-items: center;
}

.navbar-right__side .navbar-right__links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-right__side li {
  list-style-type: none;
}

.navbar-right__side li:hover {
  text-decoration: underline;
}

.navbar-right__side li > a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.navbar-right__side .line {
  width: 1px;
  height: 32px;
  align-items: center;
  background-color: #edeef2;
}

.navbar-right__avatar {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-left: 24px;
}

.navbar-right__avatar__button {
  position: relative;
  padding: 12px 14px;
  background-color: #f3f4ff;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  z-index: -999;
}

.navbar-right__avatar span {
  position: absolute;
  font-size: 10px;
  background: #4e60ff;
  color: #fff;
  border-radius: 8px;
  padding: 4px 6px;
  top: -3px;
  right: -3px;
}

.navbar-right__hamburger {
  display: none;
  font-size: 18px;
  padding: 12px 13px;
  background: #edeef2;
  border-radius: 16px;
  border: none;
}

/* ===== our deals ===== */

.deals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 40px 32px;
  gap: 19px;
}

.deals__item {
  display: flex;
  align-items: center;
  padding-right: 60px;
  border-radius: 16px;
  gap: 20px;
}

.deals__item:first-child {
  background-color: #f3f4ff;
}

.deals__item:last-child {
  background-color: #fff3ed;
}

.deals__item h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.deals__item:first-child h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #4e60ff;
  margin: 8px 0 36px;
}

.deals__item:last-child h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #fd6d22;
  margin: 8px 0 36px;
}

.deals__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859c;
}

/* ===== categories ===== */

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 15px;
}

.categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #edeef2;
  border-radius: 16px;
  padding: 12px 49px;
  cursor: pointer;
}

.categories__item h4 {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #545563;
  width: 60px;
  text-align: center;
  margin: 12px 0 0;
}

.categories__item:hover {
  background-color: #f8f9ff;
  border: 1px solid #697bff;
}

.categories__item.cursorActive {
  background: #f3f4ff;
  border: 2px solid #4e60ff;
  padding: 11px 48px;
}

.categories__item.cursorActive h4 {
  color: #4e60ff;
}

/* ===== nearby restaurants ===== */

.nearby-restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.nearby-restaurants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.nearby-restaurants-container h3 {
  font-weight: 600;
  line-height: 28px;
  color: #2b2b43;
  margin-bottom: 10px;
}

.nearby-restaurants__item {
  max-width: 352px;
  border: 1px solid #edeef2;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}

.nearby-restaurants__item-bg {
  border-radius: 16px 16px 0 0;
}

.nearby-restaurants__item h6 {
  position: absolute;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 0 16px;
  background-color: #4e60ff;
  top: 0;
  right: 0;
}

.nearby-restaurants__item__info {
  margin: 10px 18px 16px 16px;
}

.nearby-restaurants__item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nearby-restaurants__item__title h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2b2b43;
}

.nearby-restaurants__item__title img {
  cursor: pointer;
}

.nearby-restaurants__item__details {
  display: flex;
  align-items: center;
  margin: 6px 0 14px;
  gap: 8px;
}

.nearby-restaurants__item__details i,
.nearby-restaurants__item__details p {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #83859c;
}

.nearby-restaurants__item__details span {
  width: 3px;
  height: 3px;
  background: #4e60ff;
  border-radius: 50%;
}

.nearby-restaurants__item__relatives {
  display: flex;
  gap: 8px;
}

.nearby-restaurants__item__relatives a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #545563;
  text-decoration: none;
  background: #edeef2;
  border-radius: 50px;
  padding: 4px 10px;
}

.nearby-restaurants__item__relatives a > img {
  width: 12px;
  margin-right: 5px;
}

/* ======= Media ======== */

@media (max-width: 1130px) {
  .navbar-left__search {
    margin-left: 10px;
  }
  .nearby-restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .navbar-right__hamburger {
    display: flex;
    margin-left: 24px;
  }
  .navbar-left__search,
  .navbar-right__side .navbar-right__links {
    display: none;
  }
  .navbar-right__side .navbar-right__links {
    flex-direction: column;
    align-items: start;
  }
  .navbar-right__side .line {
    display: none;
  }
  .navbar-left__search.active {
    display: flex;
    align-items: start;
    position: absolute;
    top: 0;
    left: 15px;
    margin: 80px 0 0 0;
    z-index: 1;
  }
  .navbar-left__search.active input {
    width: 100px;
  }
  .navbar-right__side .navbar-right__links.active {
    display: flex;
    position: absolute;
    top: -17px;
    left: 0;
    gap: 12px;
    background-color: #919cff;
    color: #fff;
    padding: 140px 100px 50% 15px;
  }
  .deals__item {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .deals__item__about {
    display: flex;
    gap: 40px;
    padding-top: 16px;
    height: 70px;
  }
  .categories {
    gap: 15px;
  }
  .categories__item {
    padding: 12px 19px;
  }
  .categories__item.cursorActive {
    padding: 11px 18px;
  }
  .nearby-restaurants {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .nearby-restaurants__item {
    max-width: 332px;
  }
  .nearby-restaurants__item-bg {
    width: 330px;
  }
}
